In [58]:
import numpy as np
import typing as ty
import pandas as pd

In [59]:
"""
20条河流的水质情况数据
"""
df = pd.read_excel("20条河流的水质情况数据.xlsx")

In [60]:
"""
原始矩阵正向化
"""
#PH值，中间型指标7
x_best = 7
M = max(np.abs(np.array(df.iloc[:,2])-x_best))
for i in range(df.shape[0]):
    df.iloc[i,2] = 1-abs(df.iloc[i,2]-x_best)/M
#细菌总数，极小型指标
M = max(np.array(df.iloc[:,3]))
for i in range(df.shape[0]):
    df.iloc[i,3] = M-df.iloc[i,3]
#植物性营养物量，区间型指标[10,20]
a = 10
b = 20
M = max(a-min(np.array(df.iloc[:,4])),max(np.array(df.iloc[:,4]))-b)
for i in range(df.shape[0]):
    if df.iloc[i,4]<a:
        df.iloc[i,4] = 1-(a-df.iloc[i,4])/M
    elif df.iloc[i,4]>b:
        df.iloc[i,4] = 1-(df.iloc[i,4]-b)/M
    else:
        df.iloc[i,4] = 1
df

   河流  含氧量（ppm)       PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0   A      4.69  0.717241           3      1.000000
1   B      2.03  0.406897          35      0.694036
2   C      9.11  0.524138           8      0.905791
3   D      8.61  0.965517           8      0.444252
4   E      7.13  0.655172           4      0.691443
5   F      2.39  0.841379          16      0.600691
6   G      7.69  0.855172          16      0.655143
7   H      9.30  0.868966          27      0.000000
8   I      5.45  0.572414          49      1.000000
9   J      6.19  0.813793          37      0.784788
10  K      7.93  0.634483          45      0.699222
11  L      4.40  0.806897          37      0.541919
12  M      7.46  0.144828          31      1.000000
13  N      2.01  0.000000           7      0.454624
14  O      2.04  0.586207          31      1.000000
15  P      7.73  0.406897           2      1.000000
16  Q      6.35  0.600000          29      0.182368
17  R      8.29  0.027586          15      1.000000
18  S      3.54  0.813793           0      0.408816
19  T      7.44  0.489655          46      0.273120

In [61]:
"""
正向化矩阵标准化
"""
for j in range(1,df.shape[1]):
    x = np.array(df.iloc[:,j])
    x = sum(np.float_power(x,2))**0.5
    for i in range(df.shape[0]):
        df.iloc[i,j] = df.iloc[i,j]/x
df

   河流  含氧量（ppm)       PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0   A  0.162186  0.248255    0.024544      0.306458
1   B  0.070200  0.140837    0.286347      0.212693
2   C  0.315035  0.181417    0.065451      0.277586
3   D  0.297744  0.334190    0.065451      0.136145
4   E  0.246564  0.226772    0.032725      0.211898
5   F  0.082649  0.291223    0.130902      0.184086
6   G  0.265930  0.295997    0.130902      0.200773
7   H  0.321605  0.300771    0.220896      0.000000
8   I  0.188468  0.198127    0.400886      0.306458
9   J  0.214058  0.281674    0.302710      0.240504
10  K  0.274229  0.219610    0.368161      0.214282
11  L  0.152157  0.279287    0.302710      0.166075
12  M  0.257976  0.050128    0.253622      0.306458
13  N  0.069508  0.000000    0.057269      0.139323
14  O  0.070546  0.202901    0.253622      0.306458
15  P  0.267313  0.140837    0.016363      0.306458
16  Q  0.219591  0.207675    0.237259      0.055888
17  R  0.286678  0.009548    0.122720      0.306458
18  S  0.122418  0.281674    0.000000      0.125285
19  T  0.257284  0.169482    0.376342      0.083700

In [62]:
"""
转换为概率
"""
for j in range(1,df.shape[1]):
    x = np.array(df.iloc[:,j])
    x = sum(x)
    for i in range(df.shape[0]):
        df.iloc[i,j] = df.iloc[i,j]/x
df

   河流  含氧量（ppm)       PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0   A  0.039155  0.061141    0.006726      0.074984
1   B  0.016948  0.034685    0.078475      0.052041
2   C  0.076056  0.044680    0.017937      0.067920
3   D  0.071882  0.082305    0.017937      0.033312
4   E  0.059526  0.055850    0.008969      0.051847
5   F  0.019953  0.071723    0.035874      0.045042
6   G  0.064201  0.072898    0.035874      0.049125
7   H  0.077642  0.074074    0.060538      0.000000
8   I  0.045500  0.048795    0.109865      0.074984
9   J  0.051678  0.069371    0.082960      0.058846
10  K  0.066205  0.054086    0.100897      0.052430
11  L  0.036734  0.068783    0.082960      0.040635
12  M  0.062281  0.012346    0.069507      0.074984
13  N  0.016781  0.000000    0.015695      0.034089
14  O  0.017031  0.049971    0.069507      0.074984
15  P  0.064535  0.034685    0.004484      0.074984
16  Q  0.053014  0.051146    0.065022      0.013675
17  R  0.069210  0.002352    0.033632      0.074984
18  S  0.029554  0.069371    0.000000      0.030655
19  T  0.062114  0.041740    0.103139      0.020480

In [66]:
"""
计算信息熵
"""
def log(x:np.array)->np.array:
    tmp = np.copy(x)
    for i in range(len(x)):
        tmp[i] = np.log(tmp[i])if tmp[i]!=0 else 0
    return tmp
e = np.ones((df.shape[1]))
for j in range(1,df.shape[1]):
    x = np.array(df.iloc[:,j])
    x = np.sum(x*log(x))
    e[j] = -1*x/(np.log(df.shape[0]))
d = (1-e)/sum(1-e)
d

array([0.        , 0.14106059, 0.22667469, 0.44093378, 0.19133094])